body {
  width: 100%;
  height: 100vh;
}
.green {
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  padding: 2rem;
}

.blue {
  width: 100%;
  height: 100%;
  background-color: lightskyblue;
  padding: 2rem;
}

.pink {
  width: 100%;
  height: 100%;
  background-color: pink;
  padding: 2rem;
}

.purple {
  width: 100%;
  height: 100%;
  background-color: rgb(192, 113, 192);
  padding: 2rem;
  margin: 2rem;
}
